<div *ngIf="animal">
  <h2>{{ animal.nome | uppercase }}</h2>

  <div class="card">
    <div class="card-body">

      <div class="form-group">
        <label for="name" class="ml-2">Numero</label>
        <input type="text" class="form-control ml-2" id="numero" placeholder="numero" [(ngModel)]="animal.numero" />
      </div>

      <div class="form-group">
        <label for="name" class="ml-2">Name</label>
        <input type="text" class="form-control ml-2" id="name" placeholder="nome" [(ngModel)]="animal.nome" />
      </div>

      <div class="form-group">
        <label for="nascimento" class="ml-2">Nascimento</label>
        <input [ngModel]="animal.nascimento | date:'yyyy-MM-dd'"
          (ngModelChange)="animal.nascimento = $event"
          class="form-control ml-2" type="date" name="nascimento"/>
      </div>

      <button
        class="btn btn-primary mr-3" type="button"
        [disabled]="!animal.nome.trim() || !animal.numero"
        (click)="save()"
      >
        Salvar
      </button>

      <button class="btn btn-secondary" type="button" (click)="goBack()">
        Voltar
      </button>

      <app-inseminacoes [inseminacoes]="animal.inseminacoes"></app-inseminacoes>

    </div>
  </div>
</div>
