<div class="card">
  <div class="card-body">

    <div class="form-group">
      <label for="numero" class="ml-2">Numero</label>
      <input type="text" class="form-control ml-2" id="numero" [(ngModel)]="animal.numero" />
    </div>

    <div class="form-group">
      <label for="name" class="ml-2">Nome</label>
      <input type="text" class="form-control ml-2" id="name" [(ngModel)]="animal.nome" />
    </div>

    <div class="form-group">
      <label for="nascimento" class="ml-2">Nascimento</label>
      <input [ngModel]="animal.nascimento | date:'yyyy-MM-dd'"
          (ngModelChange)="animal.nascimento = $event"
          class="form-control ml-2" type="date" name="nascimento"/>
    </div>

    <button class="btn btn-primary ml-2" type="button"
          [disabled]="!animal.nome.trim() || !animal.numero"
          (click)="onAdd()">
      Salvar
    </button>

  </div>
</div>




